.label {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -font-family:  GameFont;
    -fx-text-fill: linear-gradient(to bottom, #00ffcc, #009999);
    -fx-effect: dropshadow(gaussian, rgba(0, 255, 204, 0.8), 10, 0.5, 2, 2); /
}

@font-face {
    font-family: "GameFont";
    src: url("/css/fonts/Race Sport.ttf") format("truetype")
}